{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/pokemon.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
</head>
<body>

    <header class="main-header">
        <div class="container header-content">
            <h1><a href="{% url 'index' %}">Pokédex</a></h1>

            <div class="header-actions">
            <a href="{% url 'team' %}" class="back-link">Équipe</a>
            <a href="{% url 'battle' %}" class="back-link">Combat</a>
            </div>

        </div>
    </header>

    <main class="container"> 
        
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer class="main-footer">
        <div class="container">
            <p>Pokédex App - Un projet pour les fans de Pokémon</p>
        </div>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
