{% load static %}
<link rel="stylesheet" href="{% static 'css/pokemon.css' %}">

<div class="pokemon-details-card">
    <h1>Combat Pokémon</h1>

    <h2>{{ player.name }} (HP : {{ player_hp }})</h2>
    <img src="{{ player.image }}" alt="{{ player.name }}">

    <h3>VS</h3>

    <h2>{{ enemy.name }} (HP : {{ enemy_hp }})</h2>
    <img src="{{ enemy.image }}" alt="{{ enemy.name }}">

    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}

    {% if not combat_fini %}
        <form method="post">
            {% csrf_token %}
            {% for attack in attacks %}
                <button type="submit" name="attack" value="{{ attack.power }}">
                    ⚔ {{ attack.name }}
                </button>
            {% endfor %}
        </form>
    {% endif %}

    <h2>Votre équipe</h2>
        <div id="pokedex">
            {% for p in player_team %}
                <div class="pokemon-card {% if not p.alive %}ko{% endif %}">
                <img src="{{ p.image }}">
                <p>{{ p.name }}</p>
                <p>HP {{ p.hp }}/{{ p.max_hp }}</p>
            {% if p.alive %}
        <form method="post">
            {% csrf_token %}
            <button name="switch" value="{{ forloop.counter0 }}">
                Échanger
            </button>
        </form>
            {% else %}
                <p>KO</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>


    <a href="{% url 'team' %}" class="back-link">
         Retour équipe
    </a>
</div>
